DB__DATABASE_NAME=
DB__USER=
DB__PASSWORD=
DB__HOST=
DB__PORT=
DB__VOLUME=

PROJECT_PATH=

AI__API_KEY=
AI__MODEL_PROVIDER=
AI__PROVIDER_BASE_URL=
AI__RESPONSE_MODEL=
AI__EMBEDDING_MODEL=

TOOLS__GITHUB_ACCESS_TOKEN=
TOOLS__EXA_API_KEY=

FEATURE_TEST__SESSION_ID=

DOCKER__POSTGRES__IMAGE=
DOCKER__HOST=

AGENTOS__PORT=

NEXT_PUBLIC_OS_SECURITY_KEY=